$left-column-width: 200px;

.Schedule {
  background-color: $conference-color-faded;
  padding: 40px 0;
  border-bottom: $solid-border;

  &__name {
    display: inline-block;
    padding-right: 20px;
    margin: 0;
    font-size: 20px;
    line-height: 29px;

    @media (min-width: $tablet-portrait-width) {
      line-height: 17px;
    }
  }

  &__date {
    display: inline-block;
    font-size: 20px;
    margin: 0;
    line-height: 29px;
    font-weight: normal;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 34px 0 30px;
    border-left: 3px dashed $grey;

    @media (min-width: $tablet-portrait-width) {
      border-left: 0;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: $left-column-width;
        bottom: 0;
        height: calc(100% - 4px);
        border-left: 3px dashed $grey;
      }
    }
  }

  &__info {
    margin-bottom: 0;

    a {
      font-weight: bold;
      color: $grey;
    }
  }
}
