$left-column-width: 200px;

.Schedule {
  background-color: $conference-color-faded;
  padding: 40px 0;
  border-bottom: $solid-border;

  &__name {
    display: inline-block;
    padding-right: 20px;
    font-size: 20px;
    line-height: 29px;
  }

  &__date {
    display: inline-block;
    font-size: 20px;
    line-height: 29px;
    font-weight: normal;
  }

  &__list {
    margin-top: 34px;
    border-left: 3px dashed $grey;

    @media (min-width: $tablet-portrait-width) {
      border-left: 0;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: $left-column-width;
        bottom: 0;
        height: calc(100% - 4px);
        border-left: 3px dashed $grey;
      }
    }
  }
}

.ScheduleItem {
  display: flex;
  flex-wrap: wrap;

  &__header {
    width: 100%;
    text-align: left;
    padding-left: 17px;

    &__time {
      font-size: 16px;
      line-height: 21px;
      font-weight: bold;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        display: inline-block;
        left: -26px;
        top: 3px;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        background-color: $grey;

        @media (min-width: $tablet-portrait-width) {
          left: auto;
          right: -26px;
        }
      }
    }
    &__title {
      font-size: 20px;
      line-height: 29px;
      margin-top: 10px;
      margin-bottom: 30px;
    }

    @media (min-width: $tablet-portrait-width) {
      width: $left-column-width;
      text-align: right;
      padding-right: 17px;
    }
  }

  &__details {
    width: 100%;
    padding-left: 17px;

    &__description {
      font-size: 16px;
      line-height: 1.31;
      margin-top: 0;
      margin-bottom: 21px;
      display: block;
    }

    @media (min-width: $tablet-portrait-width) {
      width: calc(100% - 200px);
    }
  }
}

.ScheduleDetail {
  padding-bottom: 30px;

  &__time {
    font-size: 16px;
    line-height: 1.31;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      display: inline-block;
      left: -24px;
      top: 6px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: $grey;

      @media (min-width: $tablet-portrait-width) {
        left: -20px;
      }
    }
  }

  &__title {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__description {
    margin-bottom: 10px;
  }

  &__author {
    display: inline-block;
    font-weight: bold;
    color: $grey;
    padding-right: 4px;
  }

  &__company {
    display: inline-block;
  }

  &:last-child {
    padding-bottom: 0;
  }
}
