.Schedule {
  background-color: $conference-color-faded;
  padding: 40px 0px;
  border-bottom: $solid-border;
  &__list {
    left: 5px;
    list-style-type: none;
    border-left: 2px dashed #4a4a4a;
    position: relative;
    display: inline-block;
  }
  &__header {
    margin: 0px 0px 50px 0px;
  }
  &__subtext {
    margin-top: 30px;
  }
  &__caterer {
    font-weight: bold;
    text-decoration: underline;
  }
  &__item--time {
    margin: 70px 0px 20px 0px;
    position: relative;
    &:before {
      content: attr(data-time);
      top: -30px;
      text-align: right;
      color: #4a4a4a;
      position: absolute;
    }
    &:after {
      margin-top: -12px;
      content: "";
      left: -48px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #4a4a4a;
      position: absolute;
    }
  }
  &__item--first {
    margin-top: 0px;
  }
  &__item--last {
    margin-bottom: -30px;
  }
  &__item {
    margin: 40px 0px;
    &:after {
      margin-top: 2px;
      content: "";
      left: -8px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #4a4a4a;
      position: absolute;
    }
  }
}


.Schedule {
  @media (min-width: $tablet-portrait-width) {
    padding-left: 0px;
    padding-top: 40px;
    &__list {
      left: 180px;
    }
    &__header {
      margin: 0px 0px 20px 0px;
    }
    &__item--time {
      margin: -5px 0px -5px 0px;
      position: relative;
      &:before {
        content: attr(data-time);
        text-align: right;
        color: #4a4a4a;
        position: absolute;
        top: 0px;
        left: -220px;
      }
      &:after {
        margin-top: -12px;
        content: "";
        left: -48px;
        width: 15px;
        top: 15px;
        height: 15px;
        border-radius: 50%;
        background: #4a4a4a;
        position: absolute;
      }
    }
  }
}


