body {
  color: $grey;
  font-family: 'Objektiv', Arial;
}

* {
  box-sizing: border-box;
}


  ul.semantic-only {
    @extend .reset-spacing;
    li {
      list-style-type: none;
    }
  }


  object {
    pointer-events: none;
  }

  .content-title {
    border-bottom: $dash-border;
  }
