.block {

  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;

  -webkit-align-items: center;
  align-items: center;

  .content {
    padding: 0px 20px;
    width: 100%;
  }
}

@media (min-width: $maximum-content-width) {
  .block .content {
    width: $maximum-content-width;
  }
}

.content.space-between {
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: space-between;
  justify-content: space-between;
}
