.JobsSection {
  padding: 30px 0px;
  &:nth-child(2n){
    background-color: $conference-color-faded;
  }
}


.JobPartner {
  &.content {
    padding: 0px 20px;
  }
  &:not(:first-child) {
    margin-top: 30px;
    padding-top: 30px;
    border-top: $solid-border
  }
  &__title {
    @include secondaryHeading;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  &__description {
    @include largeParagraph;
    margin: 0px;
    padding-bottom: 30px;
    border-bottom: $dash-border;
  }
  &__image img {
    max-height: 60px;
  }
}

.Job {
  line-height: 1.4;
  &__title {
    margin-top: 30px;
    margin-bottom: 6px;
  }
  &__location {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  &__description {
    margin: 0px;
  }
  &__link {
    margin-top: 5px;
    display: block;
    color: #6c6c6c;
    font-weight: bold;
  }
}

@media (min-width: $tablet-portrait-width) {
  .JobPartner {
    display: flex;
    &__image {
      flex: 3;
      margin-right: $desktop-gutter;
      img {
        width: 100%;
        max-height: none;
      }
    }
    &__details {
      flex: 9;
    }
  }

}

@media (min-width: $tablet-width) {
  .JobPartner {
    &.content {
      padding: 20px;
      padding-top: 50px;
    }
    &:first-child {
      padding-top: 20px;
    }
    &__title {
      margin-top: 10px;
    }
    &__image {
      flex: 4;
    }
    &__details {
      flex: 8;
    }
  }
}
