.JobsSection {
  padding: 30px 0px;
  &:nth-child(2n){
    background-color: $conference-color-faded;
  }
}


.JobPartner {
  &:not(:first-child) {
    margin-top: 30px;
    padding-top: 30px;
    border-top: $dash-border
  }
  &__title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  &__image img {
    max-height: 60px;
  }
}

.Job {
  &__title {
    margin-bottom: 6px;
  }
  &__location {
    margin: 0px;
  }
}

@media (min-width: $tablet-portrait-width) {
  .JobPartner {
    display: flex;
    &__image {
      flex: 3;
      margin-right: $desktop-gutter;
      img {
        width: 100%;
        max-height: none;
      }
    }
    &__details {
      flex: 9;
    }
  }

}

@media (min-width: $tablet-width) {
  .JobPartner {
    &__image {
      flex: 4;
    }
    &__details {
      flex: 8;
    }
  }
}
