{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true
  },
  "globals": {
    "expect": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-underscore-dangle": [0],
    "consistent-return": [0],
    "arrow-body-style": [0]
  }
}
