node_modules
build
.DS_Store
*.log
dist
reactlondon
*config.json
.env
.eslintcache
infrastructure/secrets.tfvars
*.tfstate*
data/*
.sass-cache
tmp

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
