// SPEAKERS
.Speakers {

  background-color: $events-color-faded;

  &__header {
    margin: 0px;
    border-bottom: $dash-border;
    line-height: 2em;
  }

  &__container {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

}
