// ABOUT REACT LONDON EVENTS
  .CommunityAbout {
    font-size: 16px;

    background-color: $events-color;
    padding: 22px 0px;

    &__text {
      margin-bottom: 7px;
      margin-top: 0px;
    }

    &__text--bold {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    @media (min-width: $tablet-portrait-width) {
      padding: 30px 0px;
      font-size: 20px;

      &__text {
        margin-bottom: 10px;
        margin-top: 0px;
      }
    }

    @media (min-width: $tablet-width) {
      font-size: 24px;
      padding: 40px 0px;
    }

  }
