// ABOUT REACT LONDON EVENTS
  .CommunityAbout {
    background-color: $events-color;
    padding: 40px 0px;

    &__text {
      margin: 0px;
      font-size: 20px;
    }

    &__text--bold {
      margin-top: 0px;
      margin-bottom: 10px;
      font-size: 24px;
    }
  }
