@import '~normalize.css';
@import 'abstracts/variables';
@import 'base/layout';
@import 'base/typography';
@import 'base/global';
@import 'base/icons-svg';

@import '../../shared/components/SiteFooter/index';
@import '../../shared/components/RedBadgerBanner/index';
@import '../../shared/components/Hero/index';
@import '../../shared/components/NavigationBar/index';
@import '../../shared/components/CommunityAbout/index';
@import '../../shared/components/NextConferenceEvent/index';
@import '../../shared/components/NextCommunityEvent/index';
@import '../../shared/components/TicketStatus/index';
@import '../../shared/components/Talks/index';
@import '../../shared/components/Speaker/index';
@import '../../shared/components/MailingList/index';
@import '../../shared/components/ExternalPlatforms/index';
@import '../../shared/components/InterestedSpeaker/index';
@import '../../shared/components/Conference/index';
@import '../../shared/components/ConferenceAbout/index';
@import '../../shared/components/UpcomingEvents/index';
@import '../../shared/components/ShareYourIdeas/index';
@import '../../shared/components/Talks/index';
@import '../../shared/components/FutureEvents/index';
@import '../../shared/components/ConferencePartners/index';
@import '../../shared/components/ConferenceJobs/index';
@import '../../shared/components/ConferenceCodeOfConduct/index';
@import '../../shared/components/PartnersSection/index';
@import '../../shared/components/JobsSection/index';
@import '../../shared/components/TicketAbout/index';
@import '../../shared/components/TicketList/index';
@import '../../shared/components/OpportunityTickets/index';
@import '../../shared/components/SpeakersPage/index';
@import '../../shared/components/SpeakersPageAbout/index';
@import '../../shared/components/SpeakersPageContent/index';
@import '../../shared/components/SpeakerList/index';
@import '../../shared/components/ErrorPage404/index';
@import '../../shared/components/ErrorPage500/index';
@import '../../shared/components/CommunityLayout/index';
@import '../../shared/components/SpeakerSocialLinks/index';
@import '../../shared/components/SchedulePage/index';
@import '../../shared/components/SchedulePageOverview/index';
@import '../../shared/components/Schedule/index';
@import '../../shared/components/SpeakerPageList/index';
@import '../../shared/components/SpeakerPageSpeaker/index';
@import '../../shared/components/SpeakerPagePlaceholder/index';
