@font-face{
  font-family:"Objektiv";
  src:url("/fonts/1583408/5ca8faff-e003-478e-a76d-bc6ebc7b8ef1.eot?#iefix");
  src:url("/fonts/1583408/5ca8faff-e003-478e-a76d-bc6ebc7b8ef1.eot?#iefix") format("eot"),
  url("/fonts/1583408/172bdd7f-a26d-4a09-a442-37bdf0867bad.woff2") format("woff2"),
  url("/fonts/1583408/3bc5b9f7-d428-4352-8e77-d9c59dfdd639.woff") format("woff"),
  url("/fonts/1583408/dc612b94-a311-427e-a051-69474c1dd1c9.ttf") format("truetype");
}

@font-face{
  font-family:"Objektiv";
  src:url("/fonts/1587752/d8b76566-c994-4f6e-8afb-12a59716f923.eot?#iefix");
  src:url("/fonts/1587752/d8b76566-c994-4f6e-8afb-12a59716f923.eot?#iefix") format("eot"),
  url("/fonts/1587752/1bd14a19-d023-42f9-b540-69b9312b0c53.woff2") format("woff2"),
  url("/fonts/1587752/a865ec13-46ca-4c39-8487-2cd17f576380.woff") format("woff"),
  url("/fonts/1587752/e86d82c7-77ff-4e05-83dc-f82021b73d4c.ttf") format("truetype");
  font-weight: bold;
}
