.Speaker {
  width: 100%;
  margin: 25px 0px 0px 0px;

  &__name {
    margin: 0px;
    font-size: 18px;
    font-weight: normal;
    &--bold {
      font-weight: bold;
    }
  }

  &__title {
    margin: 8px 0px;
    font-size: 18px;
    font-weight: 600;
  }

  &__summary {
    margin: 0px;
  }

  a {
    font-weight: bold;
    text-decoration: underline;
    color: #4A4A4A;
  }

  &__photo {
    width: 120px;
    height: 120px;
    margin: 0px;
    overflow: hidden;
    border: $solid-border;
    border-radius: 50%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    &--svg, &--img {
      height: 100%;
    }
  }


  &__details {
    padding: 0px;
    display: flex;
    align-items: center;
    li {
      list-style-type: none;
    }
  }

  &__detail {
    margin-right: 25px;
    background: no-repeat;

    display: block;

    text-indent: -999em;
    outline: 0;

    &--github {
      background-image: url('/img/SVG/Github.svg');
      height: 25px;
      width: 25px;
      &:focus,
      &:hover {
        background-image: url('/img/SVG/Github_Grey.svg');
      }
    }
    &--twitter {
      background-image: url('/img/SVG/Twitter.svg');
      height: 19px;
      width: 24px;
      &:focus,
      &:hover {
        background-image: url('/img/SVG/Twitter_Grey.svg');
      }

    }
    &--blog {
      background-image: url('/img/SVG/Blog.svg');
      height: 23px;
      width: 23px;
      &:focus,
      &:hover {
        background-image: url('/img/SVG/Blog_Grey.svg');
      }
    }
  }
}
