.SpeakerPagePlaceholder {

  display: flex;
  width: 100%;
  margin-top: 30px;

  &__text{
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
  }

  &__info{
    margin-left: 45px;
  }

  &__button {
    border-radius: 6px;
    border: 0px;

    padding: 12px 20px;
    background-color: $grey;
    text-decoration: none;
    color: $conference-color-faded;
    display: inline-block;
    margin-top: 14px;
    font-size: 16px;
    font-weight: bold;

    &:focus,
    &:hover {
      color: $white;
    }
  }

  &__photo {
    min-width: 120px;
    width: 120px;
    margin: 0px;
  }
}

@media (max-width: $mobile-portrait-width) {
  .SpeakerPagePlaceholder {
    flex-wrap: wrap;

    &__info {
      width: 100%;
      margin-left: 0;
    }
  }
}
