.DiversityTickets {
  background-color: $conference-color;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: $solid-border;
  p {
    font-size: 16px;
  }
}

@media (min-width: $tablet-portrait-width) {
  .DiversityTickets {
    p {
      font-size: 18px;
    }
  }
}
