.ScheduleItem {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__time {
    flex: 1;
  }

  &__text {
    margin-right: 30px;
    flex: 7;
  }

  &__line {
    margin: 1em 1em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    border-radius: 0.5em;
    background: black;
    position: relative;
  }

  &__line:before {
     content: '';
     position: absolute;
     top: -2em;
     left: 0.46em;
     width: 2em;
     height: 2em;
     z-index: -1;
     border-left: 2px dashed grey;
  }
}
