.ScheduleItem {
  font-size: 18px;
  padding-bottom: 5px;
  position: relative;

  &:last-of-type {
    padding-bottom: 0;
  }

  &:before, &:after {
    position: absolute;
    top: 0;
    display: block;
  }

  &:before {
    content: attr(data-time);
    min-width: 120px;
    left: -194px;
    text-align: right;
    color: $grey;
  }

  &:after {
    margin-top: 5px;
    content: "";
    left: -48px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $grey;
  }
}
