.ScheduleItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;

  &__time {
    flex: 1;
  }

  &__text {
    margin-right: 30px;
    flex: 7;
  }

  &__line {
    margin: 1em 1em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    border-radius: 0.5em;
    background: $grey;
    position: relative;
  }

  &__line:before {
     content: '';
     position: absolute;
     top: -3em;
     left: 0.43em;
     height: 3em;
     z-index: -1;
     border-left: $dash-border;
  }
}
