.ScheduleItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 20px;

  &__time {
    flex: 1;
  }

  &__text {
    margin-right: 30px;
    flex: 7;
  }

  &__line {
    margin-top: 0.2em;
    margin-right: 1em;
    margin-left: 1em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    border-radius: 0.5em;
    background: $grey;
    position: relative;
  }

  &__line:before {
     content: '';
     position: absolute;
     top: -2.5em;
     left: 0.43em;
     height: 2.5em;
     z-index: -1;
     border-left: $dash-border;
  }
}
