.TicketStatus {
  border-top: $solid-border;
  background-color: $events-color-faded;

  padding-bottom: 30px;

  &__booking__heading {
    color: $red-badger-color;
    font-size: 20px;
    margin-top: 0px;
    line-height: 1;
  }

  &__section {
    padding-top: 21px;
  }

  &__booking__text {
    font-weight: 100;
  }

  &__live-stream-text--link {
    font-weight: bold;
    text-decoration: underline;
    color: $grey;
    line-height: 1.4em;

    &:hover {
      color: $middle-grey;
    }
  }

  &__live-stream-text {
    margin-bottom: 0px;
    line-height: 20px;
  }

  &__booking-btn__container{
    padding-top: 32px;
    padding-bottom: 15px;
  }
  &__booking-btn {
    border-radius: 5px;
    line-height: 36px;
    padding: 3px 18px;
    display: inline-block;

    text-transform: uppercase;
    border: 0px;
    color: $white;
    font-weight: bold;
    text-decoration: none;

    &--disabled {
      background-color: $disabled-grey;
      color: $events-color-faded;
      cursor: not-allowed;
    }

    &--active {
      background-color: $red-badger-color;
      color: $white;
      cursor: pointer;
      text-decoration: none;

      &:focus,
      &:hover {
        background-color: $red-badger-color-darker;
      }
    }
  }
}

@media (min-width: 768px) {
  .TicketStatus {
    &__section {
      width: 50%;
      padding-top: 0px;
      &-container {
        flex-flow: row wrap;
      }

      &__booking {
        padding-left: 35px;
      }
    }
  }
}
