.SpeakersPage {
  margin: 40px auto 0;

  h1 {
    font-size: 1.5em;
  }
}

.speakers-list-intro {
  max-width: 940px;
  margin: 0 auto 40px;
}

.no-cfp-announcement {
  margin: auto;
  padding: 40px;
  border-top: 3px solid $grey;
  border-bottom: 3px solid $grey;

  p {
    max-width: 960px;
    margin: 0 auto;
    font-size: 20px;
  }
}
