.SpeakersPage {
  padding: 0;

  h1 {
    font-size: 1.5em;
    margin-left: 20px;
  }

  &__no-cfp {
    padding: 40px 0px;
    border-bottom: $solid-border;

    p {
      max-width: $maximum-content-width;
      margin: 0 auto;
      font-size: 20px;
    }
  }

  .become-speaker-link {
    margin-left: 5px;
    color: $grey;
  }
}
