doctype html
html
  head
    title React London
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css")
    link(rel="stylesheet" type="text/css" href="/main.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    main(id="main")
      != content
    script(type='text/javascript').
      window.__INITIAL_STATE__ = !{JSON.stringify(initialState)}
    script(src="/static/main.js")
