
// UPCOMING EVENTS
  #upcoming-events {
    background: $events-color-faded;
    .content.events {
      border-top: $dash-border;
      align-items: stretch;
      padding: 0px;

      article {
        padding: 0px 20px;
        background: $events-color;
        width: calc((#{$maximum-content-width} / 3) - 40px);
        &.conference {
          background: $conference-color;
        }
      }
    }
  }
