// ABOUT REACT LONDON EVENTS
  .About {
    background-color: $events-color;
    font-size: 16px;
    padding: 22px 0px;

    &__text {
      margin-bottom: 7px;
      margin-top: 0px;
    }

    &__text--bold {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    @media (min-width: 768px) {
      font-size: 24px;
      padding: 30px 0px;

      &__text {
        margin-bottom: 10px;
        margin-top: 0px;
      }
    }

    @media (min-width: 1024px) {
      padding: 30px 0px 40px 0px
      // &__text {
      //   margin-bottom: 12px;
      // }
    }
  }
