$grey: #4A4A4A;
$white: #FFFFFF;
$events-color: #CDE5B3;
$events-color-faded: #F5FAF0;
$conference-color: #C6DDE7;
$red-badger-color: #D2091E;
$light-grey: #C2C5BE;


$desktop-width: 1200px;
$tablet-width: 1024px;
$mobile-width: 435px;
$tiny-mobile-width: 320px;

$maximum-content-width: 980px;


$solid-border: 3px solid $grey;
$dash-border: 3px dashed $grey;
$solid-border-faded: 3px solid $light-grey
