// NEXT EVENT
.NextCommunityEvent {
  border-top: $solid-border;
  background-color: $events-color-faded;
  padding-bottom: 30px;

  &__details__heading {
    font-size: 20px;
    margin-top: 0px;
    line-height: 1;
  }

  &__details {
    padding: 0px;
    margin: 16px 0px 30px 0px;
    li {
      list-style: none;
      &:first-child {
        a {
          margin-top: 0px;
        }
      }
    }
    a {
      color: $grey;
      text-decoration: none;
      padding-left: 35px;
      display: inline-block;
      margin-top: 15px;
    }
  }

  &__link--date {
    background: url("/img/SVG/Date_icon_green.svg") no-repeat left top;
    height: 26px;
    padding-top: 2px;
    &[href]{
      &:focus,
      &:hover {
        background-image: url("/img/SVG/Date_icon_white.svg");
        text-decoration: underline;
      }
    }
  }

  &__link--place {
    background: url("/img/SVG/Place_icon_green.svg") no-repeat 0px 1px;
    height: 32px;
    padding-top: 5px;

    &[href]{
      &:focus,
      &:hover {
        background-image: url("/img/SVG/Place_icon_white.svg");
        text-decoration: underline;
      }
    }
  }

  &__link--time {
    background: url("/img/SVG/Time_icon_green.svg") no-repeat left top;
    height: 25px;
    padding-top: 3px;

    &[href]{
      &:focus,
      &:hover {
        background-image: url("/img/SVG/Time_icon_white.svg");
        text-decoration: underline;
      }
    }
  }

  &__header {
    margin-bottom: 5px;
    border-bottom: $dash-border;
    line-height: 2em;
  }

  &__section-container {
    display: flex;
    flex-flow: column wrap;
    padding-top: 21px;
  }

  &__section__details {
    border-bottom: $dash-border;
  }

}

@media (min-width: $tablet-portrait-width) {
  .NextCommunityEvent {

    &__details {
      margin: 16px 0px 0px 0px;
    }

    &__section {
      width: 50%;

      &-container {
        flex-flow: row wrap;
      }

      &__details {
        border-right: $dash-border;
        border-bottom: none;
        padding-right: 20px;
      }
    }
  }
}
