// Utilities
  $red-badger: #D2091E;
  $events: #CDE5B3;
  $conference: #C6DDE7;

  $grey: #4A4A4A;

  $desktop-width: 1200px;
  $tablet-width: 1024px;
  $mobile-width: 435px;
  $tiny-mobile-width: 320px;

  $solid-border: 3px solid $grey;
  $dash-border: 3px dashed $grey;

  $maximum-content-width: 980px;

  .reset-spacing {
    margin: 0px;
    padding: 0px;
  }

// FONTS
  @font-face{
    font-family:"Objektiv";
    src:url("../fonts/1583408/5ca8faff-e003-478e-a76d-bc6ebc7b8ef1.eot?#iefix");
    src:url("../fonts/1583408/5ca8faff-e003-478e-a76d-bc6ebc7b8ef1.eot?#iefix") format("eot"),
        url("../fonts/1583408/172bdd7f-a26d-4a09-a442-37bdf0867bad.woff2") format("woff2"),
        url("../fonts/1583408/3bc5b9f7-d428-4352-8e77-d9c59dfdd639.woff") format("woff"),
        url("../fonts/1583408/dc612b94-a311-427e-a051-69474c1dd1c9.ttf") format("truetype");
  }
  @font-face{
    font-family:"Objektiv";
    src:url("../fonts/1587752/d8b76566-c994-4f6e-8afb-12a59716f923.eot?#iefix");
    src:url("../fonts/1587752/d8b76566-c994-4f6e-8afb-12a59716f923.eot?#iefix") format("eot"),
        url("../fonts/1587752/1bd14a19-d023-42f9-b540-69b9312b0c53.woff2") format("woff2"),
        url("../fonts/1587752/a865ec13-46ca-4c39-8487-2cd17f576380.woff") format("woff"),
        url("../fonts/1587752/e86d82c7-77ff-4e05-83dc-f82021b73d4c.ttf") format("truetype");
    font-weight: bold;
  }

  h1,h2,h3,h4,h5,h6 {
    font-weight: 500; // headers are bold by default
  }

// GENERAL
  body {
    background: white;
    color: $grey;
    font-family: 'Objektiv', Arial;
  }

  a {
    text-decoration: none;
  }

  object {
    pointer-events: none;
  }


  ul.semantic-only {
    @extend .reset-spacing;
    li {
      list-style-type: none;
    }
  }

// BULDING BLOCKS
  #wrapper {
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  main {
    -webkit-flex: 1;
    flex: 1;
  }

  .block {
    width: 100vw;

    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;

    -webkit-align-items: center;
    align-items: center;

    .content {
      padding: 0px 20px;
    }
  }

  @media (min-width: $maximum-content-width) {
    .block .content {
      width: $maximum-content-width;
    }
  }

  .content.space-between {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    -webkit-align-items: center;
    align-items: center;

    -webkit-justify-content: space-between;
    justify-content: space-between;
  }


// HERO
  #hero {
    background-color: $events;
    .content {
      text-align: center;
    }
  }

// POWERED BY RED BADGER BANNER
  #red-badger-banner {
    background: $red-badger;
    height: 50px;

    color: white;
    font-size: 14px;
    font-weight: 700;
    img, object {
      height: 55px;
      margin-top: -20px;
    }
  }

// NAVIGATION BAR
  #main-nav {
    ul {
      li a {
        display: block;
        text-align: center;
        &.active {
          border-left: $solid-border;
          border-right: $solid-border;
          padding-bottom: 3px;
          margin-bottom: -3px;
        }
        &.events {
          background-color: $events;
        }
        &.conference {
          background-color: $conference;
        }
      }
    }
  }
// ABOUT REACT LONDON EVENTS
  #about {
    background-color: $events;
    border-top: $solid-border;
  }

// NEXT EVENT
  #next-event {
    border-top: $solid-border;
    .content article {
      width: calc((#{$maximum-content-width} / 2) - 10px);
    }
  }

  .content-title {
    border-bottom: $dash-border;
  }

// SPEAKERS
  #speakers {
    .content {
      article {
        width: calc((#{$maximum-content-width} / 3) - 10px);
      }
    }
  }

// REGISTER
  #register {
    background: $events;


    // MAILCHIMP
      #mc_embed_signup{
        clear: left;
        font-size: 14px;
        font-family: 'Objektiv', Arial;

        form#mc-embedded-subscribe-form {
          padding-top: 27px !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
          padding-bottom: 0 !important;
        }

        #mc_embed_signup_scroll {
          display: -webkit-flex;
          display: flex;
          flex-flow: column wrap;
          -webkit-flex-flow: column wrap;
          -webkit-align-items: center;
          align-items: center;
        }
        #mc_embed_signup_input {
          position: absolute;
          left: -5000px;
          cursor: pointer;
        }

        label[for='mce-EMAIL'] {
          width: calc(100vw - 80px);
          max-width: 518px;
          font-size: 19px;
          font-weight: 700;
        }

        #mce-EMAIL {
          margin: 0px;
          margin-bottom: 10px;
          border: 3px solid $grey;
          background: white;
          width: calc(100vw - 80px);
          max-width: 500px;
          min-height: 36px;
          padding: 0 9px;
        }

        input[type="submit"].button {
          background: $grey;
          color: $events;

          font-size: 16px;
          font-weight: 700;
          line-height: 36px;
          
          margin: 20px 0 0 0;
          padding-bottom: 0px;

          width: auto;
          min-width: 90px;
          height: auto;
          
          border: 0px;
          border-radius: 5px;

          cursor: pointer;
          &:hover {
            color: white;
          }
        }
      }

      @media (max-width: $mobile-width) {
        #mc_embed_signup {
          form#mc-embedded-subscribe-form {
            padding: 0px;
            padding-top: 50px;
          }
          #mce-EMAIL {
            width: calc(100vw - 80px);
          }
          label[for='mce-EMAIL'] {
            width: calc(100vw - 60px);
          }
        }
      }


  }

  #event-details {
    .content article {
      width: calc((#{$maximum-content-width} / 2) - 10px);
      &:first-of-type {
        border-right: $dash-border;
      }
    }
  }
// SCHEDULE
  #schedule {
    .schedule-timeline {
      dt {
        float: left;
        clear: left;
        width: 105px;
        text-align: right;
  
        border-right: $dash-border;
        padding-right: 20px;
        padding-bottom: 20px;
  
        &:last-of-type {
          padding-bottom: 0px;
        }
      }
      dl {
        margin: 0px 0px 20px calc(105px + (20px * 2));
      }
    }
  }

// SPONSORS
  #sponsors {
    ul li a {
      img, object {
        height: 85px;
      }
    }
  }


// FOOTER
  footer {
    background: $grey;
    height: 105px;
    align-items: center;
    justify-content: center;
    ul {
      font-weight: 500;
      line-height: 1.7;
      column-count: 2;
      column-gap: 80px;
      li a {
        color: white;
        &:hover {
          color: $events;
        }
      }
    }
    a.footer-logo {
      display: inline-block;
      height: 85px;
      img {
        height: 100%;
      }
    }
    object {
      height: 85px;
    }
  }
