.CommunityEvents {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 3px dashed $grey;

  &__list {
    list-style: none;
    padding: 0;
  }

  &__description {
    margin-bottom: 0;
  }

  &__event {
    margin-bottom: 21px;
    font-weight: bold;

    a {
      color: $grey;
    }
  }

  &__venue {
    display: inline-block;
    font-weight: normal;
  }
}
