.ConferenceHighlights {
  border-top: $solid-border;
  background-color: $conference-color-faded;
  padding: 40px 0px;
  text-align: center;

  h2, h3 {
    text-align: left;
  }

  hr {
    border: none;
    border-bottom: $dash-border;
    margin: 20px 0;
  }

  h2 {
    border-bottom: $dash-border;
    padding-bottom: 20px;
    margin-bottom: 18px;
  }

  h3 {
    margin: 20px 0;
  }

  &__header {
    &-instagram {
      background: url(/img/SVG/Instagram_DarkGrey.svg) no-repeat;
      padding-left: 30px;
    }

    &-twitter {
      background: url(/img/SVG/Twitter.svg) no-repeat;
      padding-left: 30px;
    }

    &-youtube {
      background: url(/img/SVG/Youtube_DarkGrey.svg) 0px 2px no-repeat;
      padding-left: 35px;
    }

    &-linkedin {
      background: url(/img/SVG/Linkedin_DarkGrey.svg) no-repeat;
      padding-left: 30px;
    }

    &-flickr {
      background: url(/img/SVG/Flickr.svg) no-repeat;
      padding-left: 30px;
    }
  }

  &__instagram {
    background-color: $light-grey;
    display: none;
    border: solid 3px $grey;
    margin: 30px 0;
    flex: 1;
    overflow: hidden;

    &:nth-child(1) {
      display: block;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__youtube, &__slideshare, &__flickr {
    display: none;
    margin: 30px 0;
    flex: 1;
    flex-basis: 30%;
    text-align: left;
    text-decoration: none;
    color: $grey;

    &:nth-child(1) {
      display: block;
    }

    &__background-image {
      border: solid 3px $grey;
      height: 155px;
      background-color: $light-grey;
      background-position: center;
      background-size: cover;

      &__play {
        background: url(/img/SVG/Youtube.svg) center no-repeat;
        background-size: 15%;
        height: 100%;
      }
    }

    h5 {
      font-weight: normal;
      font-size: 20px;
      margin: 8px 0;

      small {
        font-size: 16px;
        margin: 0;
      }
    }

    h5 &--bold {
      font-weight: 700;
    }
  }

  &__tweet {
    display: none;
    margin: 30px 0;
    background: $grey;
    padding: 35px;
    color: $white;
    text-decoration: none;
    overflow: hidden;
    text-align: left;
    flex: 1;

    &:nth-child(1) {
      display: block;
    }

    &__name {
      color: $conference-color;
    }

    &__name, &__username {
      font-weight: bold;
    }

    p {
      word-wrap: break-word;
      margin: 20px 0 0;
    }
  }

  &__see-more-btn {
    display: inline-block;
    margin: 20px auto 0;
    padding: 12px 20px;
    border: $solid-border;
    border-radius: 6px;
    color: $grey;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
  }
}

@media (min-width: $tablet-portrait-width) {
  .ConferenceHighlights {
    &__gallery {
      display: flex;
      flex-wrap: wrap;
    }

    &__instagram, &__tweet, &__youtube, &__slideshare, &__flickr {
      display: block;
      margin: 0;

      &:nth-child(2), &:nth-child(5) {
        margin-left: 30px;
        margin-right: 30px;
      }
    }

    &__flickr {
      margin: 0 0 30px;

      &:nth-child(4), &:nth-child(5), &:nth-child(6) {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .ConferenceHighlights {
    &__instagram, &__tweet, &__youtube {
      &:nth-child(2), &:nth-child(5) {
        margin-left: 47px;
        margin-right: 47px;
      }
    }
  }
}
