.ConferenceJobs__about {
  border-top: none;
  padding: 22px 0px;
  border-bottom: $solid-border;

  h2 {
    margin-top: 0px;
  }

  p {
    font-size: 16px;

    @media (min-width: $tablet-portrait-width) {
      font-size: 24px;
    }
  }

  p {
    line-height: 1.3;
    margin: 0px;
    padding: 0px;
  }

  @media (min-width: $tablet-width) {
    padding: 40px 0px 40px 0px;
  }
}
