// THIS PAGE IS TEMPORARY
// 'scuse the non modular approach

#conference {

  .NavBar {
    background: $conference-color-faded;
  }

  background: $conference-color;

  .reset-spacing {
    margin: 0px;
    padding: 0px;
  }

    a {
      text-decoration: none;
    }

    object {
      pointer-events: none;
    }

  // MAILCHIMP
    #mc_embed_signup{
      clear: left;
      font-size: 14px;
      font-family: 'Objektiv', Arial;

      form#mc-embedded-subscribe-form {
        padding-top: 27px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
      }

      #mc_embed_signup_scroll {
        display: -webkit-flex;
        display: flex;
        flex-flow: column wrap;
        -webkit-flex-flow: column wrap;
        -webkit-align-items: center;
        align-items: center;
      }
      #mc_embed_signup_input {
        position: absolute;
        left: -5000px;
        cursor: pointer;
      }

      label[for='mce-EMAIL'] {
        width: calc(100vw - 80px);
        max-width: 518px;
        font-size: 19px;
        font-weight: 700;
      }

      #mce-EMAIL {
        margin: 0px;
        margin-bottom: 10px;
        border: 3px solid $grey;
        background: white;
        width: calc(100vw - 80px);
        max-width: 524px;
        min-height: 36px;
        padding: 0 9px;
      }

      input[type="submit"].button {
        background: $grey;
        color: $conference-color;

        font-size: 16px;
        font-weight: 700;
        line-height: 36px;
        
        margin: 20px 0 0 0;
        padding-bottom: 0px;

        width: auto;
        min-width: 90px;
        height: auto;
        
        border: 0px;
        border-radius: 5px;

        cursor: pointer;
        &:hover {
          color: white;
        }
      }
    }

    @media (max-width: $mobile-width) {
      #mc_embed_signup {
        form#mc-embedded-subscribe-form {
          padding: 0px;
          padding-top: 50px;
        }
        #mce-EMAIL {
          width: calc(100vw - 80px);
        }
        label[for='mce-EMAIL'] {
          width: calc(100vw - 60px);
        }
      }
    }

  // BULDING BLOCKS
    #wrapper {
      display: -webkit-flex;
      display: flex;
      min-height: 100vh;
      -webkit-flex-direction: column;
      flex-direction: column;
    }

    main {
      -webkit-flex: 1;
      flex: 1;
    }

  // HERO
    #hero {
      background: url("../img/SVG/ReactLondon_SaveTheDate_Web_background-01.svg")
        no-repeat
        center center;
      background-size: cover;
      min-height: 330px;
      .content {
        text-align: center;
        margin-top: 135px;

        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-align-items: center;
        align-items: center;
      }
      .block-bg {
        background: $conference-color;
        display: inline-block;
        margin: 0px;
        padding: 3px;
      }
      p.block-bg {
        font-weight: 700;
        font-size: 14px;
        padding: 3px 10px;
      }
      h1 {
        font-size: 30px;
        display: inline-block;
        margin: 0px;
        padding: 3px;
      }
      h2.block-bg {
        font-size: 40px;
        font-weight: 200;
      }
      a {
        color: $grey;
      }
      .sign-up-trampoline {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-align-items: center;
        align-items: center;
        img, object {
          margin-top: 5px;
          width: 18px;
          height: 12px;
        }
      }
    }

    @media (min-width: $desktop-width) {
      #hero {
        min-height: 660px;
        background: url("../img/SVG/ReactLondon_SaveTheDate_Web_background-02.svg")
          no-repeat
          center center;
        background-size: cover;
        .content {
          margin-top: 300px;
        }
        p.block-bg {
          font-size: 21px;
          margin-top: 15px;
        }
        h1.block-bg {
          font-size: 45px;
          margin-bottom: 26px;
        }
        h2.block-bg {
          font-size: 60px;
          line-height: 1;
        }
        .sign-up-trampoline {
          margin-top: 0px;
        }
      }
    }

    @media (min-width: $mobile-width) and (max-width: $desktop-width) {
      #hero {
        p.block-bg {
          margin-top: 5px;
        }
        h2.block-bg {
          line-height: 1;
        }
        .sign-up-trampoline {
          margin-top: 5px;
        }
      }
    }

    @media (max-width: $mobile-width) {
      #hero {
        background: url("../img/SVG/ReactLondon_SaveTheDate_Web_background-03.svg")
          no-repeat
          center -135px;
        background-size: cover;
        padding-bottom: 20px;
        .content {
          margin-top: 178px;
        }
        h2.block-bg {
          line-height: 1;
        }
        p.block-bg {
          margin-top: 5px;
        }
        .sign-up-trampoline {
          margin-top: 5px;
        }
      }
    }

    @media (max-width: $tiny-mobile-width) {
      #hero {
        background: url("../img/SVG/ReactLondon_SaveTheDate_Web_background-03.svg")
          no-repeat
          center -110px;
        background-size: cover;
        .content {
          margin-top: 142px;
        }
        p.block-bg {
          margin-top: 8px;
        }
        .sign-up-trampoline {
          margin-top: 4px;
        }
        h1 {
          line-height: 1.2;
        }
      }
    }

  // ABOUT
    #about {
      background: $conference-color;
      border-top: none;
      margin: 30px 0px 50px 0px;
      h2, p {
        font-size: 30px;
      }
      h2 {
        @extend .reset-spacing;
        margin-bottom: 10px;
      }
      p {
        line-height: 42px;
        @extend .reset-spacing;
      }
      p:first-of-type {
        margin-bottom: 10px;
      }
    }

    @media (max-width: $mobile-width) {
      #about {
        h2, p {
          font-size: 24px;
        }
        p {
          line-height: 33px;
        }
      }
    }

  // REGISTER
    #register {
      background: $conference-color;
      border-top: 3px solid $grey;
      padding: 30px 0 50px 0;
      h3 {
        font-size: 21px;
        @extend .reset-spacing;
        text-align: center;
      }
    }

}
