// FOOTER
.SiteFooter {
  display: -webkit-flex;
  display: flex;
  background: $grey;

  &__links {
    padding: 20px 0px 13px 0px; // 7px on the __link margin-bottom
    margin: 0px;
    font-weight: bold;
  }

  &__link {
    color: white;
    text-decoration: none;
    padding-left: 35px;
    height: 23px;
    margin-bottom: 7px;
    display: inline-block;

    &:hover {
      color: #9B9B9B;
    }

    &--mail {
      background: url("../../../../assets/img/SVG/Mail.svg") no-repeat left top;
      &:hover {
        background-image: url("../../../../assets/img/SVG/Mail_Hover.svg");
      }

    }
    &--slack {
      background: url("../../../../assets/img/SVG/Slack.svg") no-repeat left top;
      &:hover {
        background-image: url("../../../../assets/img/SVG/Slack_Hover.svg");
      }

    }
    &--youtube {
      background: url("../../../../assets/img/SVG/Youtube.svg") no-repeat left 2px;
      &:hover {
        background-image: url("../../../../assets/img/SVG/Youtube_Hover.svg");
      }

    }
    &--twitter {
      background: url("../../../../assets/img/SVG/Twitter_white.svg") no-repeat left 3px;
      &:hover {
        background-image: url("../../../../assets/img/SVG/Twitter_Hover.svg");
      }
    }

    & > span {
      @media (max-width: 616px) { //eyeballed
        display: none;
      }
    }

    &--hashtag {
      @media (max-width: 616px) { //eyeballed
        padding-left: 0px;
      }
    }
  }

  &__logo--img,
  &__logo--svg {
    height: 81px;
  }

  @media (min-width: 616px) { //eyeballed
    &__links {
      column-count: 2;
      -moz-column-count: 2;
      column-gap: 80px;
      -moz-column-gap: 80px;
    }
  }
}
