// HERO
.Hero {
  background-image: url('/assets/img/SVG/Community_header_background.svg');
  background-color: $events-color;
  background-position: calc(50% - 39px) calc(50% - 39px);

  height: 260px;
  overflow: hidden;

  position: relative;
  
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;

  -webkit-align-content: center;
  align-content: center;

  &__title {
    position: absolute;
    text-align: center;
    top: 150px;
    left: 0;
    right: 0;
  }
}
