// HERO
.Hero {
  overflow: hidden;
  background-image: url('/assets/img/SVG/Community_header_background.svg');
  background-color: $events-color;
  height: 260px;
  background-position: calc(50% - 39px) calc(50% - 39px);

  display: flex;
  -webkit-display: flex;
  align-content: center;
  -webkit-align-content: center;

  &__title {
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100%;
  }
}
