
// NAVIGATION BAR
  #main-nav {
    ul {
      li a {
        display: block;
        text-align: center;
        &.active {
          border-left: $solid-border;
          border-right: $solid-border;
          padding-bottom: 3px;
          margin-bottom: -3px;
        }
        &.events {
          background-color: $events-color;
        }
        &.conference {
          background-color: $conference-color;
        }
      }
    }
  }
