
// NEXT EVENT
.NextEvent {
  border-top: $solid-border;
  background-color: $events-color-faded;

  &__ul {
    padding: 0px;
    margin: 16px 0px 30px 0px;
  }

  &__header {
    margin-bottom: 0px;
    border-bottom: $dash-border;
    line-height: 2em;
  }

  &__li {
    list-style: none;
  }

  &__link {
    color: $grey;
    text-decoration: none;
    padding-left: 40px;
    display: block;
    margin-top: 15px;

    &.--date {
      background: url("../../../../assets/img/PNG/Date_icon_green.png") no-repeat left top;
      height: 26px;
      padding-top: 2px;
    }

    &.--place {
      background: url("../../../../assets/img/PNG/Place_icon_green.png") no-repeat left top;
      height: 31px;
      padding-top: 5px;
    }

    &.--time {
      background: url("../../../../assets/img/PNG/Time_icon_green.png") no-repeat left top;
      height: 25px;
      padding-top: 3px;
    }
  }

  &__booking-btn {
    border-radius: 6px;
    text-transform: uppercase;
    border: 0px;
    padding: 12px 15px;
    color: $white;
    font-weight: bold;

    &.--disabled {
      background-color: #C9C9C9;
    }
  }

  &__section-container {
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap; 
  }

  &__section__details {
    border-bottom: $dash-border;
  }


}

@media (min-width: 768px) {
  .NextEvent__section {
    width: 50%;

    &-container {
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap; 
    }

    &__details {
      border-right: $dash-border;
      border-bottom: none;
    }

    &__booking {
      padding-left: 90px;
    }
  }
}
