// POWERED BY RED BADGER BANNER
#red-badger-banner {
  background: $red-badger-color;
  height: 50px;

  justify-content: center;

  color: white;
  font-size: 14px;
  font-weight: 500;

  img, object {
    height: 55px;
    margin-top: -15.5px;
  }
}
