// FOOTER
.SiteFooter {
  display: flex;
  background: $grey;

  &__links {
    padding: 20px 0px 13px 0px; // 7px on the __link margin-bottom
    margin: 0px;
    font-weight: bold;
  }

  &__link {
    color: #9B9B9B;
    text-decoration: none;
    padding-left: 35px;
    height: 23px;
    margin-bottom: 7px;
    display: inline-block;

    &:focus,
    &:hover {
      color: white;
    }

    &--mail {
      background: url("/img/SVG/Mail_Grey.svg") no-repeat left top;
      &:focus,
      &:hover {
        background-image: url("/img/SVG/Mail.svg");
      }

    }
    &--slack {
      background: url("/img/SVG/Slack_Grey.svg") no-repeat left top;
      &:focus,
      &:hover {
        background-image: url("/img/SVG/Slack.svg");
      }

    }
    &--youtube {
      background: url("/img/SVG/Youtube_Grey.svg") no-repeat left 2px;
      &:focus,
      &:hover {
        background-image: url("/img/SVG/Youtube.svg");
      }

    }
    &--twitter {
      background: url("/img/SVG/Twitter_Grey.svg") no-repeat left 3px;
      &:focus,
      &:hover {
        background-image: url("/img/SVG/Twitter_white.svg");
      }
    }

    & > span {
      @media (max-width: 616px) {
        display: none;
      }
    }

    &--hashtag {
      @media (max-width: 616px) {
        padding-left: 0px;
      }
    }
  }

  &__logo--img,
  &__logo--svg {
    height: 81px;
    display: block;
  }

  @media (min-width: 616px) {
    &__links {
      column-count: 2;
      column-gap: 80px;
    }
  }
}
