// FOOTER
.SiteFooter {
  display: flex;

  > * {
    width: 100%;
  }

  &__conference {
    background: url("/img/SVG/Conference_Banner_background.svg") no-repeat center top $conference-color;
    text-align: center;
    height: 320px;
    border-top: 3px solid $grey;
    border-bottom: 3px solid $grey;
    color: $grey;
    font-size: 16px;

    h2 {
      margin: 170px 0 0;
      font-size: 30px;
    }

    a {
      font-weight: bold;
      line-height: 0.9;
      text-align: center;
      color: $footer-grey;
    }
  }

  &__badger {
    margin-bottom: 12px;
  }

  &__links {
    padding: 20px 0px 13px 0px; // 7px on the __link margin-bottom
    margin: 23px 0 0;
    font-weight: bold;
    list-style-type: none;
  }

  &__content {
    background: $footer-grey;
    padding: 60px 29px 80px 29px;
    color: $white;

    h2 {
      margin: 0;
    }

    p {
      margin: 0 0 50px;
    }
  }

  &__social-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  &__social-link {
    width: 30px;
    color: #9B9B9B;
    text-decoration: none;
    height: 23px;
    margin-bottom: 7px;

    &:focus,
    &:hover {
      color: white;
    }
  }


  &__serious a {
    color: $white;
  }

  &__mail {
    background: url("/img/SVG/Mail_Grey.svg") no-repeat left top;
    &:focus,
    &:hover {
      background-image: url("/img/SVG/Mail.svg");
    }

  }
  &__slack {
    background: url("/img/SVG/Slack_Grey.svg") no-repeat left top;
    &:focus,
    &:hover {
      background-image: url("/img/SVG/Slack.svg");
    }

  }
  &__youtube {
    background: url("/img/SVG/Youtube_Grey.svg") no-repeat left 2px;
    &:focus,
    &:hover {
      background-image: url("/img/SVG/Youtube.svg");
    }

  }
  &__twitter {
    background: url("/img/SVG/Twitter_Grey.svg") no-repeat left 3px;
    &:focus,
    &:hover {
      background-image: url("/img/SVG/Twitter_white.svg");
    }
  }
}
