.Speakers {
  background-color: $events-color-faded;

  &__header {
    margin: 0px;
    border-bottom: $dash-border;
    line-height: 2em;
    margin-top: 20px;
  }

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.Talk {
  width: 100%;

  @media (min-width: $tablet-portrait-width) {
    width: 48%;
  }

  @media (min-width: $tablet-width) {
    width: 30%;
  }
}
