.SchedulePageOverview {
  border-bottom: $solid-border;
  &__container {
    flex-direction: column;
    display: flex;
  }

  &__details {
    flex-grow: 1;
    padding: 40px 0px 30px 0px;

    div:first-child {
      margin-bottom: 10px;
    }

    div:last-child {
      margin-top: 10px;
    }
  }

  &__cfp {
    text-align: left;
    padding-bottom: 40px;

    a {
      color: inherit;
      &:hover {
        color: $middle-grey;
      }
    }
  }

  &__date {
    font-weight: 800;
    font-size: 24px;
    color: $grey;
    background: url(/img/SVG/calendar_icon.svg) no-repeat 0 0;
    height: 26px;
    padding-top: 2px;
    padding-left: 45px;
  }

  &__button {
    border-radius: 6px;
    border: 0;
    padding: 12px 20px;
    font-weight: 700;
    background-color: $disabled-grey;
    text-decoration: none;
    color: $conference-color-faded;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.SchedulePageOverview {
  @media (min-width: $tablet-portrait-width) {
    &__container {
      flex-direction: row;
      display: flex;
    }

    &__cfp {
      padding: 40px 0px;
      align-self: flex-end;
      text-align: center;
    }

    &__details {
      flex-grow: 1;
      padding: 40px 0px;
    }
  }

  @media (min-width: $tablet-width) {
    &__cfp {
      padding-right: 20px;
    }
  }
}
