.EventSponsors {
  padding-bottom: 30px;
  margin-left: 30px;

  ul {
    padding-left: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  ul li {
    display: inline;
    padding-top: 20px;
    padding-left: 20px;
    list-style-type: none;
    flex: 1;
  }

  ul li a {
    img, object {
      height: 80px;
    }
  }

  h3 {
    margin-top: 0;
  }
}
