.Hero {
  background-image: url('/img/SVG/Community_header_background.svg');
  background-color: $events-color;
  background-position: calc(50% - 39px) calc(50% - 39px);

  height: 260px;
  overflow: hidden;

  position: relative;

  display: flex;
  flex-direction: column;
  align-content: center;

  z-index: 100;

  a {
    color: $grey;
  }

  &__title,
  &__subtitle {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
  }

  &__title {
    top: 140px;
  }

  &__subtitle {
    top: 193px;
    font-size: 16px
  }

  @media (max-width: $mobile-width) {
    height: 240px;
    & > object {
      height: 240px;
    }
    &__title {
      top: 130px;
    }

    &__subtitle {
      top: 182px;
      font-size: 16px
    }
  }
}



.Hero--Conference {
  background-color: $conference-color;
  background-image: none;
  background-position: 0px 0px;
}
