.ErrorPage404 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px;
  &__text {
    text-align: center;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  &__image {
    margin: 20px 0px;
    background-image: url('/img/SVG/404.svg');
    background-repeat: no-repeat;
    height: 246px;
    width: 276px;
  }
}

@media (min-width: $tablet-portrait-width) {
  .ErrorPage404 {
    &__text {
      font-size: 24px;
    }
  }
}
