.ErrorPage404 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px;
  &__text {
    text-align: center;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom:10px;
  }
  &__image {
    margin: 20px 0px;
    background-image: url('data:image/svg+xml;utf8,<svg width="276" height="246" viewBox="0 0 276 246" xmlns="http://www.w3.org/2000/svg"><title>missing react</title><g transform="translate(0 -24)" stroke="#4A4A4A" fill="none" fill-rule="evenodd" stroke-dasharray="3,3,3,2"><ellipse transform="rotate(-30 137.58 147.102)" cx="137.579" cy="147.102" rx="56.867" ry="136.98"/><ellipse transform="rotate(30 137.58 147.102)" cx="137.579" cy="147.102" rx="56.867" ry="136.98"/><ellipse transform="rotate(90 137.58 147.102)" cx="137.579" cy="147.102" rx="56.867" ry="136.98"/><path d="M138.323 123.283c-14.14 0-25.606 11.481-25.606 25.642 0 14.16 11.465 25.642 25.606 25.642 14.141 0 25.606-11.481 25.606-25.642s-11.465-25.642-25.606-25.642"/></g></svg>');
    background-repeat: no-repeat;
    height: 246px;
    width: 276px;
  }
}

@media (min-width: $mobile-width) {
  .ErrorPage404 {
    &__text {
      font-size: 24px;
    }
  }
}
