.reset-spacing {
  margin: 0px;
  padding: 0px;
}

.SpeakersPageAbout {
  border-top: none;
  margin: 22px 0px;

  h2, p {
    font-size: 16px;
  }

  h2 {
    @extend .reset-spacing;
  }

  p {
    line-height: 1.3;
    @extend .reset-spacing;
  }

  h2, p:first-of-type {
    margin-bottom: 7px;
  }

  @media (min-width: $tablet-width) {
    margin: 30px 0px 40px 0px;

    h2, p:first-of-type {
      margin-bottom: 10px;
    }

    h2, p {
      font-size: 24px;
    }
  }

  @media (min-width: $tablet-portrait-width) {
    h2, p {
      font-size: 20px;
    }
  }
}
