.RedBadgerBanner {
  $height: 30px;

  background: $red-badger-color;
  height: $height;
  justify-content: center;

  .RedBadgerBanner__logo {
    height: 55px;
    margin-top: $height - 70.5px;
    z-index: 200;
  }
}
