.RedBadgerBanner {
  $height: 24px;

  font-size: 12px;
  font-weight: bold;
  background: $red-badger-color;
  text-align: right;

  a {
    line-height: $height;
    color: $white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
