.EventSchedule {
  &__schedule {
    list-style-type: none;
    border-left: $dash-border;
    margin: 0 30px 40px 80px;
    position: relative;
  }
}

@media (min-width: $tablet-portrait-width) {
  .EventSchedule {
    border-right: $dash-border;
  }
}
