.ShareYourIdeas {
  background-color: $conference-color-faded;
  text-align: center;
  padding: 40px 0px;
  border-top: $solid-border;
  &__text {
    margin-top: 0px;
    font-size: 16px;
  }

  &__btn {
    color: $conference-color-faded;
    background-color: $grey;
    border-radius: 6px;
    border: 0px;
    padding: 12px 20px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    &:focus,
    &:hover {
      color: $white;
    }
  }
}
