.ConferencePartners__about {
  border-top: none;
  margin: 40px 0px;

  p {
    font-size: 20px;
    line-height: 1.3;
    padding: 0px;
    margin: 10px 0px 0px 0px;
  }

  h2 {
    font-size: 24px;
    line-height: 1.3;
    margin: 0px;
    padding: 0px;
  }
}

.PartnersSection__gold {
  border-top: $solid-border;
  background-color: $conference-color-faded;
}

.PartnersSection__silver {
}

.PartnersSection__bronze {
  background-color: $conference-color-faded;
}

.PartnersSection__supporters {
  border-top: $solid-border;
}

.PartnersSection__title {
  border-bottom: $dash-border;
}

.InterestedPartner {
  border-top: $solid-border;
  background: $conference-color-faded;
  text-align: center;
  padding: 40px 0px;
}

.InterestedPartner__text {
  margin-top: 0px;
  font-size: 20px;
}

.InterestedPartner__heading {
  font-size: 18px;
  font-weight: normal;
  margin-top: 0px;
}

.InterestedPartner__btn {
  border-radius: 6px;
  border: 0px;

  padding: 12px 20px 12px 20px;
  color: $conference-color-faded;
  font-weight: bold;
  text-decoration: none;
  background-color: $grey;
  display: inline-block;

  font-size: 20px;

  &:focus,
  &:hover {
    color: $white;
  }
}
