.PartnersSection__gold {
  border-top: $solid-border;
  background-color: $conference-color-faded;
}

.PartnersSection__silver {
}

.PartnersSection__bronze {
  background-color: $conference-color-faded;
}

.PartnersSection__supporters {
  border-top: $solid-border;
}

.PartnersSection__title {
  border-bottom: $dash-border;
}
