// NEXT EVENT
.NextConferenceEvent {
  border-top: $solid-border;
  background-color: $conference-color-faded;
  padding: 40px 0px;
  &__header {
    margin: 0;
    border-bottom: $dash-border;
    line-height: 2em;
  }

  &__calendar {
    border-radius: 5px;
    line-height: 36px;
    border: 0px;
    padding: 3px 18px 3px 53px;
    color: $conference-color-faded;
    font-weight: bold;
    text-decoration: none;

    display: inline-block;
    background: url("/img/SVG/G_blue.svg") no-repeat 17px 10px $grey;
    background-size: 22px 22px;
    font-size: 16px;

    &[href]{
      &:focus,
      &:hover {
        color: $white;
        background-image: url("/img/SVG/G_white.svg");
      }
    }
  }
  &__ticket {
    border-radius: 5px;
    line-height: 36px;
    border: 0px;
    padding: 3px 18px;
    color: $conference-color-faded;
    font-weight: bold;
    text-decoration: none;

    display: inline-block;
    background: no-repeat 17px 10px $red-badger-color;
    background-size: 22px 22px;
    font-size: 16px;

    &[href]{
      &:focus,
      &:hover {
        color: $white;
      }
    }
  }
  &__accomodation{
    > h2 {
      margin: 0;
      border-bottom: $dash-border;
      line-height: 2em;
      margin-top: 20px;
    }
    > p {
      font-size: 16px;
    }
    > p:first-child {
      margin-top: 20px;
    }
    *:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    font-weight: 700;
    text-decoration: underline;
    color: $grey;
    line-height: 1.4em;
    &:hover {
      color: $middle-grey;
    }
  }
  &__save-the-date,
  &__details,
  &__section {
    padding: 10px 0;

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      list-style: none;

      &:first-child {
        margin-top: 0px;
      }
    }

    h3 {
      margin-top: 0px;
      margin-bottom: 7px;
      font-size: 20px;
    }
  }

  &__link--date,
  &__link--place {
    padding-left: 35px;
    font-size: 16px;
  }

  &__link--date,
  &__link--place,
  &__link--save-the-date {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: $grey;
    font-size: 16px;
  }

  &__link--date {
    background: url("/img/SVG/Date_icon_blue.svg") no-repeat left top;
    height: 26px;
    padding-top: 2px;

    &[href]{
      &:focus,
      &:hover {
        background-image: url("/img/SVG/Date_icon_white.svg");
        text-decoration: underline;
      }
    }
  }

  &__link--place {
    background: url("/img/SVG/Place_icon_blue.svg") no-repeat 0px 1px;
    height: 32px;
    padding-top: 5px;

    &[href]{
      &:focus,
      &:hover {
        background-image: url("/img/SVG/Place_icon_white.svg");
        text-decoration: underline;
      }
    }
  }

  &__link--save-the-date {
    background: url("/img/SVG/Save_the_date_icon_blue.svg") no-repeat 0px 1px;
    height: 67px;
    padding-left: 80px;
    padding-top: 10px;
    margin-top: 7px;
    max-width: 15em;

    &[href]{
      &:focus,
      &:hover {
        background-image: url("/img/SVG/Save_the_date_icon_white.svg");
      }
    }
  }

  &__section-container {
    display: flex;
    flex-flow: column wrap;
  }


  $vert-spacing: 30px;

  &__details {
    border-bottom: $dash-border;
    padding-bottom: $vert-spacing;
  }

  &__save-the-date {
    padding-top: $vert-spacing;

    h3 {
      margin-bottom: 12px;
    }
  }
}

@media (min-width: $tablet-portrait-width) {
  .NextConferenceEvent {
    &__section-container {
      padding-top: 20px;
      flex-flow: row wrap;

      > * {
        width: 50%;
      }
    }
    &__link--date {
      margin-top: 0px;
    }

    &__details,
    &__save-the-date {
      padding-top: 0;
      padding-bottom: 0;
    }

    &__details {
      border-right: $dash-border;
      border-bottom: none;
      padding-right: 20px;
    }

    &__save-the-date {
      padding-left: 20px;
    }
    &__accomodation {
      padding-top: 20px;
    }
  }
}
