.TicketList {
  background-color: $conference-color-faded;
  padding-bottom: 40px;
  padding-top: 15px;
  &__ticket {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    border-bottom: $dash-border;
    font-size: 18px;
    > span {
      flex: 4;
    }
    > span.sold-out {
      color: $red-badger-color;
    }
    > span:first-child {
      flex: 6;
      font-size: 20px;
    }
    > span:last-child {
      text-align: right;
      font-size: 20px;
    }

  }
  &__TCs {
    font-size: 18px;
    padding-top: 10px;
  }
  &__booking-btn__container{
    padding-top: 50px;
    padding-bottom: 25px;
  }
  &__booking-btn {
    border-radius: 6px;
    text-transform: uppercase;
    border: 0px;
    padding: 12px 15px;
    color: $white;
    font-weight: bold;
    text-decoration: none;

    &--disabled {
      background-color: $disabled-grey;
      color: $events-color-faded;
      cursor: not-allowed;
    }

    &--active {
      background-color: $red-badger-color;
      color: $white;
      cursor: pointer;
      text-decoration: none;

      &:focus,
      &:hover {
        background-color: $red-badger-color-darker;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .TicketList {
    &__ticket {
      flex-direction: column;
      > span:nth-child(2) {
        padding: 10px 0px;
      }
      > span:last-child {
        text-align: left;
      }
    }
  }
}
