// STAY TUNED
.MailingList {
  background: $events-color;

  .content {
    padding: 40px 20px;
  }
  &__heading {
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

  &--conference {
    background: $conference-color;
  }

  &__summary {
    max-width: 650px;
    text-align: left;
    margin: 20px auto;
    font-size: 16px;
    line-height: 1.5em;

    a {
      color: $grey;
    }
  }

  // MAILCHIMP
  &__form__container {
    width: 650px;
    max-width: 100%;
  }
  &__form {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__label {
      display: block;
      font-weight: 800;
      margin-bottom: 5px;
      font-size: 16px;
    }

    &__email,
    &__submit {
      border-radius: 5px;
      padding-top: 7px;
      padding-bottom: 7px;

      font-size: 16px;
      line-height: 36px;
      border: $solid-border;
    }

    &__email {
      background: $white;
      padding-left: 15px;
      padding-right: 15px;
      line-height: 1;

      max-width: 500px;
      width: calc(100% - 150px);
    }

    &__submit {
      font-weight: 600;
      padding: 3px 18px;
      background: $grey;
      color: $events-color;
      border: 0px;
      cursor: pointer;
      float: right;

      &:focus,
      &:hover {
        color: $white;
      }

      &--conference {
        color: $conference-color;
      }
    }
  }
}

@media (max-width: 425px) {
  // 300px + 125px. An input box smaller than 300px is too small.
  .MailingList__form__email {
    width: 100%;
    margin-bottom: 20px;
  }
}
