// POWERED BY RED BADGER BANNER
.RedBadgerBanner {
  background: $red-badger-color;
  height: 50px;
  justify-content: center;

  .RedBadgerBanner__tag {
    color: white;
    font-size: 14px;
    margin-top: -3px;
    font-weight: bold;
  }

  .RedBadgerBanner__logo--svg,
  .RedBadgerBanner__logo--img {
    height: 55px;
    margin-top: -15.5px;
    z-index: 1000;
  }
}
