.NavigationBar {
  background-color: $grey;
  display: flex;
  &__links-container {
    width: 100%;
    flex-direction: row;
    height: initial;
    ul {
      display: none; /* Not displayed on mobile unless the hamburger menu is opened */
      list-style: none;
      margin: 0;
      padding: 0;
      flex-direction: column;
      border-bottom: $solid-border;
      a {
        padding: 14px 0px 14px 55px;
        display: block;
        font-weight: bold;
        font-size: 18px;
        color: $conference-color;
        text-decoration: none;
        &:hover {
          background: $white;
          color: $grey;
        }
      }
      .active {
        background: $conference-color;
        color: $grey;
      }
    }
  }

  /* Opening menu from hamburger */
  input.trigger {
    position: absolute;
    top: -9999px;
    left: -9999px;
    &:checked ~ ul {
      @media (max-width: $tablet-width) {
        display: block !important; /* Displaying the menu when the burger is clicked */
        display: flex;
        flex-direction: row;
        padding: 0px;
      }
    }
    /* When the menu is opened, the hamburger label's text is changed to white */
    &:checked ~ label {
      @media (max-width: $tablet-width) {
        color: white;
      }
    }
    /* When the menu is opened, the hamburger icon is changed to white */
    &:checked ~ label:before {
      @media (max-width: $tablet-width) {
        color: white;
      }
    }
  }
  label {
    position: relative;
    display: block;
    width: 5px;
    padding: 9px 0px 9px 35px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    line-height: 2em;
    color: $conference-color;
    margin-left: 20px;
  }
  /* Burger icon */
  label:before {
    position: absolute;
    top: 8px;
    left: 0;
    content: "\2261";
    font-weight: normal;
    font-size: 30px;
    color: $conference-color;
  }

  .ticket__button__container {
    display: flex;
    justify-content: center;
    align-items: center;

    &--tablet {
      display: none;
    }
    &--mobile {
      position: absolute;
      right: 20px;
      top: 274px;
    }

    .ticket__button {
      background-color: red;
      border-radius: 6px;
      text-transform: uppercase;
      background-color: $red-badger-color;
      color: #fff;
      cursor: pointer;
      text-decoration: none;
      border-radius: 6px;
      text-transform: uppercase;
      border: 0;
      padding: 5px 15px;
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      text-align: center;
      font-size: 18px;

      &.active {
        background-color: $grey;
        color: $white;
        border: 2px solid white;
        padding: 3px 15px;
      }
    }
  }

  @media (min-width: $tablet-portrait-width) {
    .ticket__button__container {
      &--mobile {
        position: absolute;
        right: 20px;
        top: 294px;
      }
    }
  }

  /* Tablet and Desktop View */
  @media (min-width: $tablet-width) {
    flex-direction: row; /* Changed from column to row as links are now displayed horizontally */
    padding-left: 44px;
    padding-right: 44px;
    &__links-container {
      flex: 6;
      flex-direction: column;
      height: 54px;
      ul {
        display: flex;
        flex-direction: row;
        li {
          text-align: center;
          flex: 1;
          a {
            padding-left: 0;
          }
          .active {
            color: white;
            background-color: $grey;
            border-bottom: 3px solid white;
          }
          a:hover {
            color: white;
            background-color: $grey;
          }
        }
      }
    }
    label {
      display: none;
    }

    .ticket__button__container {
      &--tablet {
        right: 20px;
        display: initial;
        justify-content: center;
        align-items: center;
        display: flex;
        flex: 1;
        margin-top: 3px;
      }
      &--mobile {
        display: none;
      }
    }
  }
}
