.NavigationBar {
  background: $grey;

  li {
    list-style-type: none;

    @media (min-width: 660px) {
      width: 280px;
    }
  }

  &--Community {
    a,
    a:visited {
      color: $events-color;
    }

    a:focus,
    a:hover {
      color: $events-color-faded;
    }

    a.NavigationBar__tab--active {
      background-color: $events-color-faded;
    }
  }

  &--Conference {
    a,
    a:visited {
      color: $conference-color;
    }

    a:focus,
    a:hover {
      color: $conference-color-faded;
    }


    a.NavigationBar__tab--active {
      background-color: $conference-color-faded;
    }
  }

  &__tabs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0;
    padding: 0;

    a {
      $border-bottom-size: 3px;

      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
      width: 40vw;
      min-width: 130px;
      text-align: center;
      height: 50px;
      vertical-align: middle;
      display: table-cell;
      padding-bottom: $border-bottom-size;

      &.NavigationBar__tab--active {
        color: $grey;
        border-bottom: $border-bottom-size solid $grey;
        padding-bottom: 0;
      }
    }
  }
}
