$flex_nav_breakpoint: 1100px;

.NavigationBar {
  background-color: $grey;
  display: flex;
  flex-direction: row;
  padding-left: 44px;
  padding-right: 44px;
  div {
  ul {
    display:none;
    list-style:none;
    margin:0px;
    padding:0px;
    flex-direction: column;
    li {
      a {
        display:block;
        padding:14px;
        font-weight: bold;
        font-size: 18px;
        color: $conference-color;
        text-decoration:none;
        &:hover {
          background:$grey;
          color: $conference-color-faded;
        }
      }
    }
  }
}

  input.trigger {
    position: absolute;
    top: -9999px;
    left: -9999px;
    &:checked ~ ul {
      display:block !important;
      @media (min-width: $tablet-width){
        display: flex;
        flex-direction: row;
      }
    }
  }
  label {
    position:relative;
    display:block;
    width: 100%;
    min-height:2em;
    padding-top: 0.45em;
    padding-left: 0px;
    padding-bottom: 0.45em;
    font-size: 18px;
    font-weight: bold;
    margin:0;
    cursor:pointer;
    line-height: 2em;
    color: $conference-color;
    flex: 1;
  }

  label:before {
    position: absolute;
    left: -1em;
    top: .2em;
    content:"\2261";
    font-weight: normal;
    font-size:1.8em;
    color: $conference-color;
  }

  .ticket__button__container {
    position: absolute;
    top: 15px;
    right: 20px;
    .ticket__button {
      background-color: red;
      border-radius: 6px;
      text-transform: uppercase;
      background-color: #d2091e;
      color: #fff;
      cursor: pointer;
      text-decoration: none;
      border-radius: 6px;
      text-transform: uppercase;
      border: 0;
      padding: 5px 15px;
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      text-align: center;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    div {
      flex: 5;
    ul {
      display: flex;
      flex-direction: row;
      li {
        position:relative;
        text-align: center;
        flex: 1;
      }
    }
  }
    label {
      display:none;
    }

    .ticket__button__container {
      position: initial;
      flex: 1;
    }
  }

  @media (min-width: $desktop-width) {
    div {
    ul {
      flex: 6;
    }
  }
  }
}
