$flex_nav_breakpoint: 600px;

.NavigationBar {
  background-color: $grey;
  ul {
    display:none;
    width:100%;
    list-style:none;
    margin:0px;
    padding:0px;

    li {
      a {
        display:block;
        padding:14px;
        font-weight: bold;
        font-size: 18px;
        color: $conference-color;
        text-decoration:none;
        &:hover {
          background:$grey;
          color: $conference-color-faded;
        }
      }
    }
  }

  input.trigger {
    position: absolute;
    top: -9999px;
    left: -9999px;
    &:checked ~ ul,&:checked ~ ul li ul {
      display:block !important;
      @media (min-width:$flex_nav_breakpoint){
        display: flex;
        flex-direction: row;
      }
    }
  }
  label {
    position:relative;
    display:block;
    width: 100%;
    min-height:2em;
    padding-top: 0.45em;
    padding-left: 3.5em;
    padding-bottom: 0.45em;
    font-size: 18px;
    font-weight: bold;
    margin:0;
    cursor:pointer;
    line-height: 2em;
    color: $conference-color;
  }

  label:before {
    position: absolute;
    left: 1em;
    top: .2em;
    content:"\2261";
    font-weight: normal;
    font-size:1.8em;
    color: $conference-color;
  }

  @media(min-width:$flex_nav_breakpoint){
    ul {
      display: flex;
      flex-direction: row;
      li {
        position:relative;
        text-align: center;
        flex: 1;
      }
    }
    label {
      display:none;
    }
  }
}
