.speakers-list-container {
  border-top: 3px solid $grey;
  background-color: $conference-color-faded;
  padding: 40px 20px;
}

.speakers-list {
  max-width: 980px;
  margin: 0 auto;
  padding: 0;

  & > ul {
    max-width: $maximum-content-width;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: $dash-border;

    & > li {
      list-style-type: none;
      padding: 0 40px 40px 0;
      flex-basis: 300px;
      flex-grow: 1;

      &:last-child {
        padding: 0 0 40px 0;
      }
    }
  }
}

.speaker-avatar {
  width: 120px;
  height: 120px;
  display: block;
  margin-bottom: 20px;

  img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: $solid-border;
  }
}

.speaker-description {
  display: block;
}

.speaker-description-name {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.speaker-description-company {
  font-size: 20px;
  margin: 0;
  font-weight: normal;
}

.speaker-description-social-links {
  margin-top: 20px;

  a {
    display: inline-block;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.more-speakers-announcement {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0 0;
}

@media (min-width: $tablet-width) {
  .speakers-list-container {
    padding: 40px 0;
  }

  .speakers-list {
    padding: 0 20px;
  }
}
