.speakers-list-container {
  border-top: 3px solid $grey;
  background-color: $conference-color-faded;
  padding: 40px 0;
}

.speakers-list {
  max-width: 940px;
  padding: 0;
  margin: 0 auto;
}

li {
  list-style-type: none;
  margin: 33px auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.speaker-avatar {
  width: 120px;
  img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 3px solid $grey;
  }
}

.speaker-description {
  margin-left: 44px;
  max-width: 760px;
}

.speaker-description-name {
  font-weight: bold;
}

.speaker-description-company {
  margin-left: 5px;
}

.speaker-description-social-links {
  margin-top: 20px;

  a {
    display: inline-block;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}
