$grey: #4A4A4A;
$white: #FFFFFF;
$events-color: #CDE5B3;
$events-color-faded: #F5FAF0;
$conference-color: #C6DDE7;
$conference-color-faded: #E9F2F6;
$red-badger-color: #fc1d42;
$red-badger-color-darker: #CF1937;
$light-grey: #C2C5BE;
$disabled-grey: #9B9B9B;
$footer-grey: #646464;
$middle-grey: #777;
$light-blue-grey: #574751;

$mobile-portrait-width: 450px;
$tablet-portrait-width: 690px; // go to 2 cols
$tablet-width: 980px; // go to 3 cols
$maximum-content-width: 980px;

$desktop-gutter: 5%;
$tablet-gutter: 4%;
$mobile-gutter: 5%;

$solid-border: 3px solid $grey;
$dash-border: 2px dashed $grey;
$solid-border-faded: 3px solid $light-grey;
