.EventDetails {
  background-color: $events-color-faded;

  h3 {
    font-size: 24px;
    line-height: 1;
  }

  &__section {
    &-container {
      flex: 1;
      display: flex;
      flex-flow: column wrap;
    }

    &-schedule {
      flex: 1;
      border-bottom: $dash-border;
    }

    &-sponsors {
      flex: 1;
    }

  }
}

@media (min-width: 768px) {
  .EventDetails {
    &__section {

      &-container {
        flex-flow: row wrap;
      }

      &-schedule {
        border-bottom: none;
      }

    }
  }
}
